*{
    margin: 0;
}

.banner{

    text-align: right;
    height: 700px;   
}

.header{

    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
}

.banner-title{

    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
    padding: 220px 150px 0 0;
    font-style: normal;
}

.banner-paragraph{

    font-size: 10px;
    padding: 10px 150px 0 0;
    font-style: normal;
}

.button-primary{

    font-size: 10px;
    height: 35px;
    border-radius: 3px;
    border-style: none;
    background-color: #f15b22;
    color: white;
    padding: 0 15px 0 15px;
    margin: 10px 150px 0 0;

}

.mid-class{

    display: flex;
    margin: 50px 150px 0 150px;
}

#person{

    height: 600px;
    width: 500px;
}

.mid-header{
    
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700px;
    margin-left: 100px;
    margin-top: 200px;
    
}

.mid-paragraph{

    font-size: 10px;
    font-weight: normal;
    margin-left: 100px;
    margin-top: 20px;
}

.list{

    margin-top: 20px;
}

.list li{
    margin-left: 80px;
    list-style-image: url(/images/icons/check_mark.png);
    font-size: 11px;
    margin-top: 3px;
}

